  .gridview a{
    width: 32%;
    margin-bottom: 15px;
  }
@media (max-width:1400px) {
  .gridview a{
    width:49%;
    background: whitesmoke;
  } 

  .grid .featureservice{
    height: 220px;
    position: relative;
  }
  .grid .featureservice::after{
    content: "";
    height: 90%;
    position: absolute;
  }
}

@media (max-width:576px) {
  .gridview a{
    width: 100%;
  } 
}